language: python
python:
  - "2.6"
  - "2.7"
env:
  - DJANGO_VERSION=Django>=1.4,<1.5
  - DJANGO_VERSION=Django>=1.5,<1.6
  - DJANGO_VERSION=Django>=1.6,<1.7
install:
  - pip install -q $DJANGO_VERSION
  - pip install -q -r requirements.txt
script: python manage.py test drip
